[Unit]
Description=TaxihouseLTBot
After=syslog.target
After=network.target

[Service]
Type=simple
User=bot
WorkingDirectory=/home/bot/taxihouse_bot
ExecStart=/usr/bin/python3.9 /home/bot/taxihouse_bot/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
